version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: checkproof
    volumes:
      - ./src:/var/www/html
    ports:
      - "8000:8000"
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: mysql-db
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: checkproof
      MYSQL_USER: checkproof
      MYSQL_PASSWORD: checkproof
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
